// hide unused page title
.home .entry-header {
  display: none;
}

// =============== hero-section with siwper start =============== //
.hero-section.home {
  height: 450px;
  @media (min-width: $breakpoint-tablet-sm) {
    height: 500px;
  }
}

.hero-section.home div {
  // hero-content section
  .wp-block-group {
    position: absolute;
    z-index: 10;

    margin: 32px;

    h2 {
      margin: 17rem 0 0 0;
      color: white;
    }
    p {
      display: none;
      color: white;
      margin: 0 0 1rem 0;
    }
    .wp-block-button {
      display: none;
      a {
        color: $color__button-text;
        background: none;
        border: 1px solid white;
        border-radius: 5px !important;
        font-weight: 600;
        padding: 12px 16px;
        transition: all 0.2s ease;
        &:hover,
        &:focus {
          background-color: white;
          color: $color__strong-text;
        }
      }
    }
    @media (min-width: $breakpoint-mobile) {
      margin: 64px;
      h2 {
        margin-top: 10rem;
      }
      p {
        display: block;
      }
      .wp-block-button {
        display: block;
      }
    }
    @media (min-width: $breakpoint-tablet-sm) {
      margin-left: 96px;
      h2 {
        margin-top: 13rem;
      }
    }
  }

  //   swiper section
  .wp-swiper {
    // swiper contents
    .wp-swiper__slide-content figure {
      margin: 0;
      overflow: hidden;
      width: 100%;
      height: 450px;
      @media (min-width: $breakpoint-tablet-sm) {
        height: 500px;
      }
      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
      }
    }

    // swiper buttons
    .swiper-button-next,
    .swiper-button-prev {
      color: white;
      scale: 0.5;
    }
    .swiper-pagination-bullet-active {
      background-color: white;
    }
  }
}
// =============== hero-section with siwper end =============== //

// featured
.home .entry-content .wp-block-woocommerce-product-collection,
// work (instagram)
.home .entry-content .wp-block-group:nth-of-type(2),
// blog
.home .entry-content .wp-block-group:nth-of-type(3) {
  padding: 3rem 1rem;
}

// blog section
.home .entry-content .wp-block-group:nth-of-type(3) {
  padding-bottom: 6rem;
  a {
    text-decoration: none;
  }
  .wp-block-latest-posts__list {
    gap: 3rem;
    width: 100%;
    @media (min-width: 600px) {
      gap: 8px;
    }
    li {
      margin: 0;
      @media (min-width: 600px) {
        width: calc(25% - 6px);
      }
      // post container
      a:nth-of-type(1) {
        width: 100%;
      }
      // post img
      img {
        width: 100%;
      }
      // post title
      .wp-block-latest-posts__post-title {
        color: $color__general-text;
      }
      // post date
      .wp-block-latest-posts__post-date {
        color: $color__label-brighter-text;
      }
    }
  }
}

// Front page arrow svg

.rotate {
  transform: rotate(15deg);
}

.site-main {
  position: relative;
}

#left-arrow {
  display: none;
}

#right-arrow {
  position: absolute;
  right: 0.75rem;
  top: 32rem;
  transform: rotate(30deg) scale(0.8);
}

@media(min-width: $breakpoint-tablet-sm) {
  #left-arrow {
    display: block;
    position: absolute;
    left: -2rem;
    top: 55rem;
  }

  #right-arrow {
    right: -2rem;
    top: 34rem;
    transform: rotate(30deg) scale(1);
  }
}

@media(min-width: $breakpoint-tablet-lrg) {
  #left-arrow {
    top: 56rem;
  }
}

@media(min-width: $breakpoint-desktop) {
  #left-arrow {
    top: 58rem;
  }
}
