// header & navigation

.site-header {
  height: 3.5rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d4d2e3;

  .main-navigation {
    order: 1;
  }
  .site-branding {
    order: 2;
  }
  .header-cart-button {
    order: 3;
  }

  .custom-logo-link {
    img {
      display: block;
      width: 48px;
      height: 48px;
    }
  }

  .site-title {
    display: none;
  }
}

// ===== 1 mobile toggle navigation ===== //
.main-navigation {
  height: 100%;

  button.menu-toggle {
    background-color: transparent;
    border: none;
    width: 3rem;
    height: 3rem;
    padding: 6px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-open {
      display: block;
      height: 1.5rem;
      width: 1.5rem;
      fill: black;
    }
    .icon-close {
      display: none;
      height: 1.5rem;
      width: 1.5rem;
      fill: black;
    }
  }
  // dropdown menu area
  .menu-main-menu-container {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100000;
    ul {
      display: block;
      padding: 4px;
      width: 100%;
      background-color: white;
      li {
        width: 100%;
        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          padding: 12px;
          width: 100%;
          border-radius: 10px;
          font-weight: 600;
          &:hover {
            background-color: #d4d2e3;
          }
        }
      }
    }
  }
}

.main-navigation.toggled {
  button.menu-toggle {
    .icon-open {
      display: none;
    }
    .icon-close {
      display: block;
    }
  }
  .menu-main-menu-container {
    display: flex;
  }
}

// ===== 2 mobile logo & title ===== //

.site-branding {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .sub-logo {
    display: none;
    margin: 0;
    font-weight: 600;
    font-size: 1.5rem;
    @media (min-width: 500px) {
      display: flex;
    }
  }
}

// ===== 3 mobile cart button ===== //
.header-cart-button {
  .cart-button {
    position: relative;
    display: block;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // cart icon
    svg {
      width: 32px;
      height: 32px;
    }

    // alert dot
    .cart-badge {
      background-color: red;
      border-radius: 50%;
      padding: 0.3em;
      position: absolute;
      top: 0.8rem;
      right: 0.4rem;
    }
  }
}

// ========== navigation for wide device =============== //
@media (min-width: 700px) {
  .site-header {
    // layout
    .site-branding {
      order: 1;
    }
    .main-navigation {
      order: 2;
    }
    .site-title {
      display: none;
    }
  }

  // menu item area
  .main-navigation {
    // remove button
    button.menu-toggle {
      display: none;
    }

    .menu-main-menu-container {
      display: block;
      position: static;
      ul {
        display: flex;
        background-color: transparent;
      }
    }
  }

  .header-cart-button {
    display: none;
  }
}

// sub-navigation in Shop page
.display-none {
  display: none;
}
.display-block {
  display: block;
}
.sub-nav-activated {
  background-color: aqua;
}
